body {
    margin: 0 auto;
    padding: 0;
    background: #EFE6E4;
    width: 1400px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #533738;
}

/* ШАПКА */

header { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: url("../img/background-header.png") repeat-y;
    min-height: 715px;
}
.menu { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 98.32px;
    margin-top: 36px;

    width: 1201.28px;
    height: 25px;
}
.menu .brend {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menu .logo {
    width: 25.34px;
    height: 25px;
    background: url("../img/logo.png");
}
.menu a {
    display: block;
    height: 20px;
    
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #533738;
}
.intro {
    margin-left: 184.08px;
}
.intro h2 {
    margin: 91px auto 0 0;

    width: 534.02px;
    font-size: 50px;
    line-height: 62px;
}
.intro p {
    margin: 24px auto 0 0;

    width: 493.57px;
    font-size: 18px;
    line-height: 30px;
}
.intro button {
    margin: 21px auto 21px 0;
    background-color: #CC8B86;
    border-width: 0px;

    width: 309.14px;
    height: 74px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.intro button:hover {
    background-color: #BC7B76;
}

/* О НАС */
.about {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 849px;
}

.about h2 {
    margin: 0 auto 40px auto;

    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.about article {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.about article img {
    width: 444.54px;
    height: 465px;
}
.about article div {
    margin-left: 61.69px;
    width: 528px;
}
.about article p {
    margin: 0 0 18px 0;

    font-size: 18px;
    line-height: 30px;
}

.about .stats {
    margin-top: 21px;
    display: flex;
    justify-content: space-around;

    width: 100%;
    min-height: 273px;
    background: #8D7370;
    color: #FFFFFF;
}
.about .stats div {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .stats div span:first-child {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 85px;

    font-size: 50px;
    line-height: 62px;
}
.about .stats div span:last-child {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 8px;

    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
    text-transform: uppercase;
}

.porfolio {
    border: 1px solid #000000;
}